.right-container {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.left-container {
  position: relative;
  width: 40vw;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  border-radius: 3.37em;
}

.title {
    width: 276px;
    height: 36px;
  font-size: 40px;
  color: #285689;
  font-weight: 400;
  font-family: 'Popins';
  font-weight: 700;
  text-align: left;
  margin: 0px;
}

.lable {
  color: black;
  font-size: 22px;
  font-weight: 400;
  margin: 18px;
}

.company-name{
    color: #0066FF;
    font-size: 30px;
    text-align: left;
    font-weight: 600;
    font-family: 'Inter';
}



.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  width: 450px;
  height: 65.5px;
  border-radius: 5px;
  height: 54px;
  font-size: 24px;
  background: #F1F1F1;
  border-radius: 30px;
}

.row {
  display: flex;
  align-items: center;
}

button {
  width: 189px;
  height: 55.2px;
  margin: 18px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins';
  color: white;
  background: #183D68;
  border-radius: 30px;
}

button:hover {
  scale: 1.1;
}

a {
  text-decoration: none !important;
  font-size: 24px;
  font-weight: 400;
}

.slogon{
    width: 567px;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 75px;
text-align: center;

color: #FFFDFD;
}

img{
  width: 200px;
  height: 121.33px;
  align-items: center;
}