.my-button {
  position: relative;
  height:200px;
  width: 220px;
  display: grid;
  
}

.my-button .image-container {
  position: absolute;
  top: -20px;
  left: 85px;
  z-index: 1;
  
}

.my-button .text-container {
  padding-top: 50px; /* adjust this value to position the text below the image */
 
}

.text-container p{

  font-size: 25px;
  margin-top: -80px;

}


.text-container p1{
  display: grid;
 
  margin-top: 50px;

}

  

  
.image-container p1{
  margin: top 10px;
  display: grid; 
}


.team{
  margin-top: 100px;
  margin-left: 100px;

}